@import "https://fonts.googleapis.com/css2?family=Montserrat:wght@300..700&display=swap";

body {
  font-family: "Montserrat";
  font-size: 10pt;
  font-weight: 400;
  font-display: swap;
  margin: 1cm;
  margin-top: 7mm;
}

b {
  font-weight: 600;
}

.name {
  text-align: center;
  font-size: 24pt;
  font-weight: 600;
}

.links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: -2px;
  margin-bottom: 4px;
  a {
    font-weight: 300;
    font-size: 9pt;
    margin-left: 8px;
    margin-right: 8px;
    color: black;
  }
}

.section {
  margin-bottom: 22px;
  .header {
    font-weight: 400;
    font-size: 15pt;
    color: rgb(122, 122, 122);
    margin-bottom: 3px;
  }
}

.entry {
  margin-bottom: 16px;

  .title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4px;

    .left {
      display: flex;
      flex-direction: row;
      align-items: center;
      .position {
        font-size: 12pt;
        font-weight: 700;
        margin-right: 4px;
        a {
          font-weight: inherit;
          color: inherit;
        }
      }
      .company {
        font-size: 8pt;
        font-weight: 500;
        padding-top: 2px;
      }
    }

    .right {
      display: flex;
      flex-direction: row;
      font-size: 10pt;
      font-weight: 500;
      color: rgb(122, 122, 122);
      .location {
        margin-right: 4px;
      }
    }
  }

  ul {
    margin: 0;
    padding-left: 20px;
    li {
      margin: 0;
      margin-bottom: 1px;
    }
  }
}

.courses {
  font-size: 10pt;
}

.skills {
  font-weight: 300;
  font-size: 8.5pt;
  display: flex;
  flex-direction: row;
  .left {
    width: 38vw;
  }
}
