@import "https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap";

body {
  font-family: "Lato";
  font-size: 11pt;
  font-display: swap;
  margin: 1.2cm;
  margin-top: 7mm;
}

.name {
  text-align: center;
  font-size: xx-large;
}

.links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  a {
    font-weight: 300;
    font-size: 9pt;
    margin: 2px;
    margin-left: 8px;
    margin-right: 8px;
    color: black;
  }
}

.section {
  .header {
    font-weight: 300;
    font-size: 16pt;
    color: rgb(122, 122, 122);
    margin-bottom: 3px;
  }
}

.entry {
  margin-bottom: 14px;

  .title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 6px;

    .left {
      display: flex;
      flex-direction: row;
      align-items: center;
      .position {
        font-size: 13pt;
        font-weight: 700;
        margin-right: 4px;
        a {
          font-weight: inherit;
          color: inherit;
        }
      }
      .company {
        font-size: 8pt;
      }
    }

    .right {
      display: flex;
      flex-direction: row;
      font-size: 10pt;
      color: rgb(122, 122, 122);
      .location {
        margin-right: 4px;
      }
    }
  }

  ul {
    margin: 0;
    padding-left: 20px;
    font-weight: 300;
  }
}

.courses {
  font-weight: 300;
  font-size: 10pt;
}

.skills {
  font-weight: 300;
  font-size: 9.5pt;
  display: flex;
  flex-direction: row;
  .left {
    width: 36vw;
  }
}
